[Unit]
Description=Daily Nextcloud backup

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=nextcloud-backup.service

[Install]
WantedBy=timers.target
